.property-details {
  padding: 60px 0;
}

.details-img {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
}

.property-details ul {
  margin: 15px 0;
  padding-left: 20px;
}

.property-details li {
  margin-bottom: 8px;
}
.property-details .btn {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
